apiVersion: v1
kind: Service
metadata:
  name: podinfo-api-service
  labels:
    app: podinfo-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: podinfo-api
