apiVersion: v1
kind: Service
metadata:
  name: autoscale-api-service
  labels:
    app: autoscale-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: autoscale-api