apiVersion: v1
kind: Service
metadata:
  name: product-api
  labels:
    app: product-api
spec:
  type: NodePort
  selector:
    app: product-api
  ports:
  - name: http
    port: 80
    targetPort: 8080
    nodePort: 30080
    protocol: TCP