apiVersion: v1
kind: Service
metadata:
  name: laravel-pod-info-api-service
  labels:
    app: laravel-pod-info-api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: laravel-pod-info-api