apiVersion: v1
kind: Service
metadata:
  name: task-manager
  labels:
    app: task-manager
spec:
  type: NodePort
  selector:
    app: task-manager
  ports:
  - name: http
    port: 80
    targetPort: 3000
    nodePort: 30081
    protocol: TCP